html {
    font-family: menlo, sans-serif;
}

::-moz-selection { /* Code for Firefox */

    background: yellow;
  }
  
  ::selection {

    background: yellow;
  }

ol{
    list-style: decimal-leading-zero;
  }


body {
  background-color: white;
  height: 100vh;
}


/* cursor */
.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: white;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}
.cursor {
  cursor: none;
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  z-index: 9999999999999999;  
}

