html {
    font-family: menlo, sans-serif;
}

::-moz-selection { /* Code for Firefox */

    background: yellow;
  }
  
  ::selection {

    background: yellow;
  }

ol{
    list-style: decimal-leading-zero;
  }